
{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-10 is-offset-1">
                <div class="content">
                    {# {% set assets_path = page.relative_path | split(pat="/") | reverse | slice(start=1) | reverse | join(sep="/") %} #}
                    <h1 style="text-align: center;">{{ page.title }}</h1>
                    {{ page.content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
